<section class="content-header">
</section>

<section class="content">
  <section class="invoice">
    <form novalidate [formGroup]="formularioOrdemCompra" >
      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            <i class="fa fa-shopping-cart"></i> Finalize o seu pedido
          </h2>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-9">
          <p>Seus Dados</p>
        </div>
        <div class="col-xs-12 col-sm-2">
          <span class="help-block pull-right has-error-block" *ngIf="formularioOrdemCompra.hasError('emailsNaoConbinam')">E-mails não confere!</span>
        </div>
        <div class="col-sm-12 col-xs-12">
          <mt-input mensagemErro="Este campo deve conter ao menos 5 caracteres!" label="Nome">
            <input type="text" class="form-control" formControlName="name" autocomplete="off" placeholder="Nome">
          </mt-input>
        </div>
        <div class="col-sm-6 col-xs-12">
          <mt-input mensagemErro="Email Inválido!" label="E-mail">
            <input type="text" class="form-control" formControlName="email" autocomplete="off" placeholder="Email">
          </mt-input>
        </div>
        <div class="col-sm-6 col-xs-12">
          <mt-input mensagemErro="Email Inválido!" label="Confirmação E-mail">
            <input type="text" class="form-control" formControlName="emailConfirmacao" autocomplete="off" placeholder="Email">
          </mt-input>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <p class="lead">Endereço de Entrega:</p>
        </div>
        <div class="col-sm-6 col-xs-12">
          <mt-input mensagemErro="Este campo deve conter ao menos 5 caracteres!" label="Endereço">
            <input type="text" class="form-control" formControlName="endereco" autocomplete="off" placeholder="Endereço">
          </mt-input>
        </div>
        <div class="col-sm-2 col-xs-6">
          <mt-input mensagemErro="Campo obrigatório" label="Número">
            <input class="form-control" formControlName="numero" autocomplete="off" placeholder="Número">
          </mt-input>
        </div>
        <div class="col-sm-4 col-xs-6">
          <div class="form-group">
            <label class="control-label sr-only"><i class="fa fa-check"></i> Complemento</label>
            <input type="text" class="form-control" formControlName="complemento" placeholder="Complemento" autocomplete="off">

          </div>

        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <!-- Table row -->
      <div class="row">
        <div class="col-xs-12">
          <p class="lead">Itens do Pedido:</p>
        </div>
        <mt-ordem-item [itens]="itensCarrinho()"
                       (aumentarQuantidade)="aumentarQuantidade($event)"
                       (diminuirQuantidade)="diminuirQuantidade($event)"
                       (remover)="removerItem($event)">
        </mt-ordem-item>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <div class="row">
        <!-- accepted payments column -->
        <div class="col-sm-6 col-xs-12">
          <p class="lead">Formas de Pagamento:</p>

          <mt-radio [options]="opcoesPagamento" formControlName="opcaoPagamento"></mt-radio>

        </div>
        <!-- /.col -->
        <div class="col-sm-6 col-xs-12">
          <p class="lead">Frete e Total:</p>
          <mt-custos-entrega
                        [entrega]="entrega"
                        [valorItens]="valorItens()">
          </mt-custos-entrega>
        </div>
        <!-- /.col -->
      </div>

    </form>

    <div class="row">
      <div class="col-xs-12">
        <button (click)="verificarOrdemCompra(formularioOrdemCompra.value)" [disabled]="!formularioOrdemCompra.valid || itensCarrinho().length === 0" class="btn btn-success pull-right"><i class="fa fa-credit-card"></i> Concluir Pedido
        </button>
      </div>
    </div>

  </section>
</section>
